*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Lato', sans-serif;
}
html,body{
	height: 100%;
}

/**************** header ********************/

header{
	background-color: #02733E;
}
header .container{
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 3%;
	align-items: center;
}
header .container .logo,
header .container .menu-desktop,
header .container .menu-mobile{
	width: 50%;
}
header .container .logo a h1{
	color: #DCF0F2;
	font-size: 30px;
}

/*====== menu desktop ======*/

header .container .menu-desktop ul{
	text-align: right;
}
header .container .menu-desktop ul li{
	display: inline-block;
	margin: 0 10px;
}
header .container .menu-desktop ul li a{
	font-size: 17px;
	color: #DCF0F2;
}
header .container .menu-desktop ul li i{
	color: #DCF0F2;
	padding-right: 5px;
	font-size: 20px;
}
header .container .menu-desktop ul li a:hover{
	text-decoration: underline;
	font-size: 18px;
	font-weight: bold;
}

/*====== menu mobile ======*/

header .container .menu-mobile{
	text-align: right;
	display: none;
}
header .container .menu-mobile h3{
	font-size: 30px;
	display: inline-block;
	color: #DCF0F2;
	cursor: pointer;
	border: 3px solid #DCF0F2;
	border-radius: 10px;
	padding: 5px 10px;
}

.corpo-menu-mobile{
	background-color: #038C4C;
	width: 100%;
	display: none;
}
.corpo-menu-mobile nav ul{
	text-align: center;
}
.corpo-menu-mobile nav ul li{
	padding: 15px 0;
}
.corpo-menu-mobile nav ul li:hover{
	background-color: rgb(3, 160, 86);
}
.corpo-menu-mobile nav ul li i{
	color: #DCF0F2;
	padding-right: 5px;
	font-size: 20px;
}
.corpo-menu-mobile nav ul li a{
	color: #DCF0F2;
	font-size: 17px;
}
[login]{
	cursor: pointer;
}

/**************** login ********************/

.tela-login{
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 1;
	width: 100%;
	top: 0;
	height: 100%;
	display: none;
	padding: 80px 50px;
}
.fundo-branco{
	max-width: 600px;
	margin: 0 auto;
	background-color: white;
	border-radius: 8px;
	min-height: 350px;
	position: relative;
	padding: 20px 10px 30px 10px;
	box-shadow: 15px 15px 30px 4px rgb(10, 10, 10);
}
.fundo-branco .fechar-janela{
	width: 32px;
	height: 32px;
	position: absolute;
	right: -15px;
	top: -15px;
}
.fundo-branco .fechar-janela>img{
	max-width: 100%;
	cursor: pointer;
}
.login{
	max-width: 500px;
	margin: 0 auto;
}
.login>div{
	padding: 10px 0;
}
.login>div>h2{
	text-align: center;
	font-size: 21px;
	font-weight: normal;
	color: #02733E;
}
.line{
	height: 5px;
	width: 100%;
	background-color: #02733E;
	margin: 15px auto 10px auto;
}
.login>form>div{
	padding: 10px 0;
}
.login>form>div>p{
	font-size: 17px;
	color: #02733E;
	text-align: center;
	padding-bottom: 5px;
}
.login>form>div>input[type=text]{
	outline: 0;
	width: 100%;
	display: block;
	margin: 0 auto;
	height: 40px;
	border: 2px solid #02733E;
	border-radius: 5px;
	padding: 0 10px;
}
.login>form>div>input[type=email]{
	outline: 0;
	width: 100%;
	display: block;
	margin: 0 auto;
	height: 40px;
	border: 2px solid #02733E;
	border-radius: 5px;
	padding: 0 10px;
}
.login>form>div>input[type=password]{
	outline: 0;
	width: 100%;
	display: block;
	margin: 0 auto;
	height: 40px;
	border: 2px solid #02733E;
	border-radius: 5px;
	padding: 0 10px;
}
.login>form>div>input[type=submit]{
	outline: 0;
	width: 200px;
	display: block;
	margin: 10px auto 0 auto;
	height: 40px;
	cursor: pointer;
	background-color: #02733E;
	border: 0;
	border-bottom: 5px solid rgb(3, 100, 36);
	border-radius: 5px;
	color: #DCF0F2;
	font-size: 15px;
}
.login>form>div>input[type=submit]:hover{
	border: 0;
	background-color: rgb(3, 160, 86);
}
.opcoes-tela-branca{
	max-width: 500px;
	margin: 0 auto;
}
.opcao-cadastro{
	padding-top: 10px;
	text-align: center;
}
.opcao-cadastro>h2{
	font-size: 17px;
	color: #02733E;
}
.opcao-cadastro>a{
	color: #DCF0F2;
	background-color: #02733E;
	padding: 10px 15px;
	font-size: 15px;
	display: inline-block;
	border-radius: 5px;
	margin-top: 15px;
}
.opcao-cadastro>a:hover{
	background-color: rgb(3, 160, 86);
}

.senha{
	position: relative;
}
.mostrar-senha{
	position: absolute;
	right: 10px;
	top: 37.5px;
}
.mostrar-senha>h3{
	color: #02733E;
	font-size: 30px;
	cursor: pointer;
}

/**************** banner cadastro ********************/

.banner-cadastro{
	background-image: url('../imagens/bannercadastro.jpg');
	background-position: center;
	background-size: 100% 100%;
	width: 100%;
	min-height: 420px;
	position: relative;
}
.banner-cadastro>.fundo-transparente{
	width: 100%;
	position: absolute;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 50px;
}
.banner-cadastro>.fundo-transparente>.container{
	max-width: 1000px;
	margin: 0 auto;
}
.banner-cadastro>.fundo-transparente>.container>.texto-banner>h2{
	font-size: 50px;
	color: #DCF0F2;
}
.banner-cadastro>.fundo-transparente>.container>.texto-banner>h4{
	font-size: 25px;
	color: #DCF0F2;
}
.banner-cadastro>.fundo-transparente>.container>.texto-banner>h4:nth-of-type(1){
	padding-top: 35px;
}
.banner-cadastro>.fundo-transparente>.container>.texto-banner>a{
	font-size: 17px;
	background-color: #F24405;
	color: #DCF0F2;
	border-radius: 5px;
	margin-top: 15px;
	border: 0;
	max-width: 263px;
	text-align: center;
	display: block;
	padding: 10px;
}
.banner-cadastro>.fundo-transparente>.container>.texto-banner>a:hover{
	background-color: #F15319;
}

/**************** cadastro ********************/

.cadastro .container{
	max-width: 1100px;
	margin: 0 auto;
	min-height: 503px;
}
.form-cadastro{
	max-width: 600px;
	margin: 0 auto;
	padding: 40px;
}
.form-cadastro>div>h2{
	font-size: 24px;
	text-align: center;
	color: #02733E;
	text-decoration: underline;
}
.form-cadastro>form{
	padding-top: 30px;
}
.form-cadastro>form>div{
	padding: 15px 0;
}
.form-cadastro>form>div>p{
	text-align: center;
	color: #02733E;
	font-size: 17px;
	padding-bottom: 10px;
}
.tooltip{
	padding-bottom: 10px;
	text-align: center;
	position: relative;
}
.tooltip>h3{
	display: inline-block;
	color: black;
	font-size: 15px;
	cursor: pointer;
}
.tooltip>h3:hover{
	color: rgb(30, 30, 30);
}
.tooltip>p{
	display: inline-block;
	color: #02733E;
	font-size: 17px;
	padding-right: 3px;
}
.text-tooltip{
	position: absolute;
	display: inline-block;
	top: -60px;
	text-align: center;
}
.text-tooltip>div{
	position: absolute;
	left: -5px;
	display: none;
	background-color: black;
	padding: 10px 15px;
	border-radius: 5px;
	z-index: 1;
	width: 200px;
}
.text-tooltip>div>p{
	font-size: 13px;
	text-align: justify;
	color: white;
}
.form-cadastro>form>div>input[type=text]{
	outline: 0;
	width: 100%;
	display: block;
	margin: 0 auto;
	height: 40px;
	border: 2px solid #02733E;
	border-radius: 5px;
	padding: 0 10px;
}
.form-cadastro>form>div>input[type=email]{
	outline: 0;
	width: 100%;
	display: block;
	margin: 0 auto;
	height: 40px;
	border: 2px solid #02733E;
	border-radius: 5px;
	padding: 0 10px;
}
.form-cadastro>form>div>input[type=password]{
	outline: 0;
	width: 100%;
	display: block;
	margin: 0 auto;
	height: 40px;
	border: 2px solid #02733E;
	border-radius: 5px;
	padding: 0 10px;
}
.form-cadastro>form>div>label{
	width: 100%;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	background-color: #02733E;
	border-radius: 5px;
	border: 0;
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 17px;
}
.form-cadastro>form>div>label:hover{
	background-color: rgb(3, 160, 86);
}
.form-cadastro>form>div>input[type=file]{
	display: none;
}
.form-cadastro>form>div>input[type=submit]{
	outline: 0;
	width: 250px;
	display: block;
	margin: 10px auto 0 auto;
	height: 45px;
	cursor: pointer;
	background-color: #02733E;
	border-radius: 5px;
	border: 0;
	color: #FFF6E6;
	font-size: 17px;
}
.form-cadastro>form>div>input[type=submit]:hover{
	background-color: rgb(3, 160, 86);
}

.form-cadastro>form>div .mostrar-senha{
	top: 47.5px;
}

/**************** ofertas-farmacia ********************/

.ofertas-farmacia{
	background-color: #CCC;
}
.ofertas-farmacia .container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 20px;
}
.ofertas-farmacia>h2{
	font-size: 23px;
	display: block;
	width: 100%;
	background-color: white;
	color: #038C4C;
	text-align: center;
	padding: 20px;
}
.produtos-farmacia{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.produto-solo{
	width: calc(100% / 3);
	padding: 15px 25px;
}
.produto{
	width: 100%;
	background-color: white;
	box-shadow: 15px 15px 40px 0.1px rgba(10, 10, 10, 0.6);
	min-height: 400px;
	border-radius: 5px;
}
.produto .imagem-produto{
	height: 250px;
}
.produto .imagem-produto>img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.produto .dados-produto{
	padding: 20px 30px;
}
.produto .dados-produto>h2{
	font-size: 23px;
	padding-bottom: 20px;
	color: #909090;
}
.produto .dados-produto>h4{
	font-size: 15px;
	padding-bottom: 5px;
	color: #909090;
}
.produto .dados-produto>h4>i{
	font-size: 16px;
	padding-right: 5px;
}
.produto .dados-produto>a{
	background-color: #F24405;
	color: #DCF0F2;
	padding: 10px 15px;
	border-radius: 5px;
	margin: 30px auto 10px auto;
	border: 0;
	font-size: 17px;
	display: block;
	text-align: center;
	width: 100%;
}
.produto .dados-produto>a:hover{
	background-color: #F15319;
}

/**************** finalização de pedido ********************/

.finalizacao-pedido{
	width: 80%;
	margin: 0 auto;
	padding: 35px 3%;
}
.finalizacao-pedido table{
	width: 100%;
	border-collapse: collapse;
}
.finalizacao-pedido table tr:nth-of-type(1){
	font-size: 20px;
	color: white;
	background-color: #038C4C;
}
.finalizacao-pedido table tr td{
	text-align: center;
	padding: 14px 0;
	width: 150px;
	border-top: 2px solid #02733E;
}
.finalizacao-pedido table tr{
	font-size: 16.5px;
}
.finalizacao-pedido table tr td img{
	max-width: 100%;
	width: 150px;
	height: 120px;
}
.finalizacao-pedido>h4{
	margin-top: 20px;
	font-size: 20px;
	color: white;
	text-align: right;
	padding: 15px;
	background-color: #038C4C;
}
.finalizacao-pedido>h3{
	margin-top: 20px;
	font-size: 20px;
	color: white;
	font-weight: normal;
	text-align: center;
	padding: 15px;
	background-color: #F24405;
}

.pagamento{
	margin: 40px auto 0 auto;
}
.pagamento h2{
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 15px;
	background-color: #038C4C;
}
.pagamento form{
	padding: 20px 0;
}
.pagamento form div{
	padding-bottom: 10px;
}
.pagamento form div:nth-of-type(2){
	display: none;
}
.pagamento form div:nth-of-type(3){
	display: none;
}
.pagamento form div p{
	font-size: 19px;
	text-align: center;
	padding: 15px 0;
	font-family: arial;
	color: #02733E;
}
.pagamento form div select[name=formapagamento]{
	width: 80%;
	margin: 0 auto;
	cursor: pointer;
	outline: 0;
	display: block;
	font-size: 14px;
	font-family: arial;
	border:2px solid #02733E;
	padding: 10px 5px;
	border-radius: 6px;
}
.pagamento form div select[name=troco]{
	width: 200px;
	margin: 0 auto;
	cursor: pointer;
	outline: 0;
	display: block;
	font-size: 14px;
	font-family: arial;
	border:2px solid #02733E;
	padding: 10px 5px;
	border-radius: 6px;
}
.pagamento form div input[type=text]{
	width: 200px;
	height: 40px;
	display: block;
	font-size: 20px;
	padding: 10px 5px;
	outline: 0;
	border-radius: 6px;
	border:2px solid #02733E;
	margin: 0 auto;
}
.pagamento form div input[type=submit]{
	width: 150px;
	height: 45px;
	display: block;
	font-size: 20px;
	color: white;
	text-align: center;
	border-radius: 6px;
	cursor: pointer;
	border: 0;
	font-family: arial;
	background-color: #02733E;
	margin: 20px auto;
}
.fechar-pedido a{
	width: 180px;
	height: 45px;
	display: block;
	padding-top: 10px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	text-align: center;
	border-radius: 6px;
	cursor: pointer;
	border: 0;
	font-family: arial;
	background-color: #F24405;
	margin: 20px auto;
}
.fechar-pedido a:hover{
	opacity: 0.9;
	font-size: 20.5px;
	padding-top: 9px;
}
.pagamento form div input[type=submit]:hover{
	opacity: 0.9;
}

/**************** footer ********************/

footer{
	background-color: #02733E;
	padding: 20px 15px;
}
footer>.container{
	max-width: 1100px;
	margin: 0 auto;
}
footer>.container>h2{
	font-size: 20px;
	color: #DCF0F2;
	text-align: center;
	font-weight: lighter;
}

/**************** modal janela aviso ********************/

.janela-aviso{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
	text-align: center;
	padding: 70px 20px 30px 20px;
}
.janela-aviso>div{
	background-color: white;
	box-shadow: 15px 15px 30px 4px rgb(10, 10, 10);
	width: 700px;
	border-radius: 5px;
	min-height: 350px;
	display: inline-block;
	z-index: 2;
	text-align: center;
	position: relative;
	padding: 40px;
}
.janela-aviso .fechar-janela{
	width: 32px;
	height: 32px;
	position: absolute;
	right: -15px;
	top: -15px;
}
.janela-aviso .fechar-janela>img{
	max-width: 100%;
	cursor: pointer;
}
.janela-aviso>div>h3{
	font-size: 160px;
	color: #f9ab24;
}
.janela-aviso>div>p{
	padding-top: 15px;
	font-size: 26px;
	color: #f9ab24;
}
.janela-aviso>div>a{
	display: inline-block;
	margin-top: 40px;
	background-color: #F24405;
	color: white;
	font-size: 19px;
	border-radius: 5px;
	padding: 10px 15px;
}
.janela-aviso>div>a:hover{
	opacity: 0.9;
}

/**************** mensagens de feedback ********************/

.sucesso-mensagem{
	background-color: #009644;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 10px !important;
	border: 3px solid #62cc9c;
	border-radius: 5px;
}
.sucesso-mensagem>h3{
	font-size: 20px;
	display: inline-block;
	padding-right: 6px;
	color: #FFF6E6;
}
.sucesso-mensagem>h2{
	font-size: 17px;
	display: inline-block;
	color: #FFF6E6;
	padding-bottom: 0 !important;
}
.erro-mensagem{
	background-color: #e23637;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 10px !important;
	border: 3px solid #e38384;
	border-radius: 5px;
}
.erro-mensagem>h3{
	font-size: 20px;
	display: inline-block;
	padding-right: 6px;
	color: #FFF6E6;
}
.erro-mensagem>h2{
	font-size: 17px;
	display: inline-block;
	color: #FFF6E6;
	padding-bottom: 0 !important;
}
.alerta-mensagem{
	background-color: #f9ab24;
	width: 100%;
	text-align: center;
	padding: 10px !important;
	margin: 0 auto;
	border: 3px solid #fbcd8a;
	border-radius: 5px;
}

/*************************************************/
/*************** responsivo **********************/

@media screen and (max-width: 835px){
	.janela-aviso>div{
		width: 80%;
	}
	.produto-solo{
		width: 80%;
		margin: 0 auto;
	}
	.produto .imagem-produto{
		height: 350px;
	}
}

@media screen and (max-width: 768px){
	header .container .menu-desktop{
		display: none;
	}
	header .container .menu-mobile{
		display: block;
	}
	footer .container>h2{
		font-size: 15px;
	}
	.fundo-transparente{
		padding: 60px 50px;
	}
}

@media screen and (max-width: 645px){
	.login,
	.opcoes-tela-branca{
		padding: 0 35px;
	}
}

@media screen and (max-width: 500px){
	.text-tooltip{
		width: 100%;
		margin: 0 auto;
		top: -55px;
		display: block;
	}
	.text-tooltip>div{
		width: 100%;
		left: 0;
		margin: 0 auto;
	}
}

@media screen and (max-width: 445px){
	.alerta-mensagem>h3,
	.sucesso-mensagem>h3,
	.erro-mensagem>h3{
		padding-right: 0;
		padding-bottom: 5px;
		font-size: 23px;
		display: block;
	}
}

@media screen and (max-width: 420px){
	.form-cadastro>form>div>input[type=submit],
	.login>form>div>input[type=submit],
	.contato .container form div input[type=submit]{
		width: 100%;
	}
}
